#container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.col {
  border: 1px solid black;
  flex: 1;
}

.color {
  background-color: red;
  transition: background-color 1.0s ease-out;
}