#header {
  display: flex;
  justify-content: center;
  margin-block: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.row {
  display: flex;
  flex: 1;
}

.col {
  border: 1px solid black;
  flex: 1;
}

.color {
  transition: background-color 0.5s ease-out;
}

#size-btn {
  padding: 5px 10px;
  font-size: 20px;
}